<div id="myModal" class="modal-calentario">
    <div class="modal-content-calentario">
        <span class="close-calentario"><i class="fa-solid fa-x"></i></span>
        <h2>Selecciona las fechas que desees bloquear</h2>
        <p>
            <i class="fa-solid fa-calendar-days"></i> 
            Fecha: <input type="date" id="fechaInicio" /> 
            a 
            <i class="fa-solid fa-calendar-days"></i> 
            <input type="date" id="fechaFinal" /> 
        </p>
        <button onclick="saveModalCalentar()" class="confirm-btn">
            <i class="fa-solid fa-floppy-disk"></i> Confirmar fecha a bloquear 
        </button>
    </div>
</div>