<div id="myModal" class="modal-calentario">
    <div class="modal-content-calentario">
        <span class="close-calentario"><i class="fa-solid fa-x"></i></span>
        <h2>Selecciona la hora de tu cita</h2>
        <p><i class="fa-solid fa-calendar-days"></i> Fecha: <span id="current-date-modal"></span> </p>
        <p><i class="fa-solid fa-clock"></i> Horas disponibles</p>
        <div class="date-grid">
            <button id="date-id-1" class="date-item">8:00</button>
            <button id="date-id-2" class="date-item">8:20</button>
            <button id="date-id-3" class="date-item">8:40</button>
            <button id="date-id-4" class="date-item">9:00</button>
            <button id="date-id-5" class="date-item">9:20</button>
            <button id="date-id-6" class="date-item">9:40</button>
            <button id="date-id-7" class="date-item">10:00</button>
            <button id="date-id-8" class="date-item">10:20</button>
            <button id="date-id-9" class="date-item">10:40</button>
            <button id="date-id-10" class="date-item">11:00</button>
            <button id="date-id-11" class="date-item">11:20</button>
            <button id="date-id-12" class="date-item">11:40</button>
            <button id="date-id-13" class="date-item">12:00</button>
            <button id="date-id-14" class="date-item">12:20</button>
            <button id="date-id-15" class="date-item">12:40</button>
            <button id="date-id-16" class="date-item">13:00</button>
            <button id="date-id-17" class="date-item">13:20</button>
            <button id="date-id-18" class="date-item">13:40</button>
            <button id="date-id-19" class="date-item">14:00</button>
            <button id="date-id-20" class="date-item">14:20</button>
            <button id="date-id-21" class="date-item">14:40</button>
            <button id="date-id-22" class="date-item">15:00</button>
            <button id="date-id-23" class="date-item">15:20</button>
            <button id="date-id-24" class="date-item">15:40</button>
            <button id="date-id-25" class="date-item">16:00</button>
            <button id="date-id-26" class="date-item">16:20</button>
            <button id="date-id-27" class="date-item">16:40</button>
            <button id="date-id-28" class="date-item">17:00</button>
            <button id="date-id-29" class="date-item">17:20</button>
            <button id="date-id-30" class="date-item">17:40</button>
            <button id="date-id-31" class="date-item">18:00</button>
            <button id="date-id-32" class="date-item">18:20</button>
            <button id="date-id-33" class="date-item">18:40</button>
            <button id="date-id-34" class="date-item">19:00</button>
            <button id="date-id-35" class="date-item">19:20</button>
            <button id="date-id-36" class="date-item">19:40</button>
        </div>
        <button onclick="saveModalCalentar()" class="confirm-btn">
            <i class="fa-solid fa-floppy-disk"></i> Confirmar hora de mi cita 
        </button>
    </div>
</div>